.title {
  font-size: 20px;
  line-height: 28px;
  color: #323c48;
  margin-bottom: 16px;
}

.filterWrapper {
  max-width: 256px;
  margin-bottom: 56px;
}

.form {
  margin-bottom: 36px;
}

.formWrapper {
  display: flex;
  align-items: center;
}

.formItem {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  width: 50%;
}

.formItem:not(:last-child) {
  margin-right: 16px;
}

.label {
  flex: 0 0 auto;
  font-size: 14px;
  line-height: 14px;
  color: #323c48;
  margin-right: 12px;
}

.field {
  flex: 1 1 auto;
  width: 100%;
  height: 30px;
  border: 1px solid #7e8fa4;
}

.button {
  width: 100%;
  border: 0;
  margin-top: 24px;
  height: 32px;
  background: #323c48;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  cursor: pointer;
}
