.list {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.subPrice {
  color: #323c48;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  padding-left: 8px;
}

.starFilled {
  fill: #323c48;
}
